
* {
  box-sizing: border-box;
}

body {
  font-family:Cambria;
  margin: 25px;
  color: #222;
  background-color: #CACFD2;
}

h1 {
  font-weight: bold;
  
}

.bold {
  font-weight: bold;
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #99A3A4;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
  margin: 20px
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #616A6B;
  padding: 2px;
  border-radius: 5px;
  color:white    
}

.project {
color: #2C3E50;
}